@using SFA.DAS.FAT.Web.Models.Filters.FilterComponents
@model CheckboxListFilterSectionViewModel

<div class="govuk-form-group">
    <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-padding-bottom-3">
            @foreach (var filterItem in Model.Items)
            {
                var inputId = $"filteritem-{Model.Id}-{filterItem.Value}";

                <div class="govuk-checkboxes__item">
                    <input
                        @(filterItem.Selected ? "checked='checked'" : "")
                        class="govuk-checkboxes__input"
                        id="@inputId"
                        name="@Model.For"
                        type="checkbox"
                        value="@filterItem.Value"/>

                    <label class="govuk-label govuk-checkboxes__label" for="@inputId">
                        @filterItem.DisplayText
                    </label>

                    @if (!string.IsNullOrWhiteSpace(filterItem.DisplayDescription))
                    {
                        <div id="@inputId-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            @filterItem.DisplayDescription
                        </div>
                    }
                </div>
            }
    </div>

    @if (Model.Link is not null)
    {
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3">
            <a class="govuk-link govuk-link--no-visited-state"
               href="@Model.Link.Url"
               target="_blank"
               rel="external">
                @Model.Link.DisplayText
            </a>
        </p>
    }
</div>
