@model SFA.DAS.FAT.Web.Models.Shared.ContactDetailsViewModel

@*  Contact this training provider *@
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            Contact this training provider
        </h3>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered address
                </dt>
                <dd class="govuk-summary-list__value">
                    <span asp-show="@(!string.IsNullOrEmpty(Model.RegisteredAddress))">@Model.RegisteredAddress</span>
                    <span asp-show="@(string.IsNullOrEmpty(Model.RegisteredAddress))">-</span>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    <a asp-show="@(!string.IsNullOrEmpty(Model.Email))" href="mailto:@Model.Email" class="govuk-link">@Model.Email</a>
                    <span asp-show="@(string.IsNullOrEmpty(Model.Email))">-</span>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone
                </dt>
                <dd class="govuk-summary-list__value">
                    <span asp-show="@(!string.IsNullOrEmpty(Model.PhoneNumber))">@Model.PhoneNumber</span>
                    <span asp-show="@(string.IsNullOrEmpty(Model.PhoneNumber))">-</span>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Website
                </dt>
                <dd class="govuk-summary-list__value">
                    <a asp-show="@(!string.IsNullOrEmpty(Model.Website))" href="@Model.Website" target="_blank" class="govuk-link">@Model.Website</a>
                    <span asp-show="@(string.IsNullOrEmpty(Model.Website))">-</span>
                </dd>
            </div>
        </dl>
    </div>
</div>
