@using SFA.DAS.FAT.Web.Models.Filters.FilterComponents
@using SFA.DAS.FAT.Domain.CourseProviders
@model CheckboxListFilterSectionViewModel
@{
    var providerSelected = false;

    @foreach (var filterItem in Model.Items)
    {
        if ((filterItem.Value == ProviderDeliveryMode.BlockRelease.ToString() || filterItem.Value == ProviderDeliveryMode.DayRelease.ToString()) 
            && filterItem.Selected)
        {
            providerSelected = true;
        }
    }
}
<div class="govuk-form-group">
    <div class="govuk-form-group">
        <h2 class="govuk-label das-filter__search-label">
            @Model.Heading
        </h2>
            @if (!string.IsNullOrWhiteSpace(Model.SubHeading))
            {
                <p class="govuk-hint">@Model.SubHeading</p>
            }
            <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-padding-bottom-0">
                @foreach (var filterItem in Model.Items)
                {
                    var inputId = $"filteritem-{Model.Id}-{filterItem.Value}";
                    if (filterItem.Value == ProviderDeliveryMode.Workplace.ToString() || filterItem.Value == ProviderDeliveryMode.Provider.ToString())
                    {
                        <div class="govuk-checkboxes__item">
                            <input @(filterItem.Selected || 
                                     (filterItem.Value == ProviderDeliveryMode.Provider.ToString() && providerSelected) 
                                       ? "checked='checked'" 
                                       : "")
                                class="govuk-checkboxes__input"
                                id="@inputId"
                                name="@Model.For"
                                type="checkbox"
                                value="@filterItem.Value"/>

                            <label class="govuk-label govuk-checkboxes__label" for="@inputId">
                                @filterItem.DisplayText
                            </label>

                            @if (!string.IsNullOrWhiteSpace(filterItem.DisplayDescription))
                            {
                                <div id="@inputId-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    @filterItem.DisplayDescription
                                </div>
                            }
                        </div>
                    }
                }
                <div class="govuk-checkboxes__conditional govuk-!-margin-bottom-0">
                    <div class="govuk-form-group">
                        @foreach (var filterItem in Model.Items)
                        {
                            var inputId = $"filteritem-{Model.Id}-{filterItem.Value}";
                            if (filterItem.Value == ProviderDeliveryMode.DayRelease.ToString() || filterItem.Value == ProviderDeliveryMode.BlockRelease.ToString())
                            {
                                <div class="govuk-checkboxes__item">
                                    <input
                                        @(filterItem.Selected ? "checked='checked'" : "")
                                        class="govuk-checkboxes__input"
                                        id="@inputId"
                                        name="@Model.For"
                                        type="checkbox"
                                        value="@filterItem.Value"/>

                                    <label class="govuk-label govuk-checkboxes__label" for="@inputId">
                                        @filterItem.DisplayText
                                    </label>

                                    @if (!string.IsNullOrWhiteSpace(filterItem.DisplayDescription))
                                    {
                                        <div id="@inputId-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                            @filterItem.DisplayDescription
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
    </div>
    @if (Model.Link is not null)
    {
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3">
            <a class="govuk-link govuk-link--no-visited-state"
               href="@Model.Link.Url"
               target="_blank"
               rel="external">
                @Model.Link.DisplayText
            </a>
        </p>
    }
</div>
