@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Web.Models.BreadCrumbs

<div class="govuk-grid-row">
    <partial name="_surveyLink" />
    @if (Model is PageLinksViewModelBase)
    {
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li asp-show="@Model.ShowSearchCrumb" class="govuk-breadcrumbs__list-item">
                        <a id="home-breadcrumb"
                           class="govuk-breadcrumbs__link"
                           asp-route="@RouteNames.SearchCourses">
                            Search
                        </a>
                    </li>

                    <li asp-show="@Model.ShowApprenticeTrainingCoursesCrumb" class="govuk-breadcrumbs__list-item">
                        <a id="courses-breadcrumb"
                           class="govuk-breadcrumbs__link"
                           asp-route="@RouteNames.Courses"
                           asp-route-location="@Model.Location"
                           asp-route-distance="@Model.Distance">
                            Course search results
                        </a>
                    </li>

                    <li asp-show="@Model.ShowApprenticeTrainingCourseCrumb" class="govuk-breadcrumbs__list-item">
                        <a id="course-detail-breadcrumb"
                           class="govuk-breadcrumbs__link"
                           asp-route="@RouteNames.CourseDetails"
                           asp-route-larsCode="@Model.LarsCode"
                           asp-route-location="@Model.Location"
                           asp-route-distance="@Model.Distance">
                            Course details
                        </a>
                    </li>

                    <li asp-show="@Model.ShowApprenticeTrainingCourseProvidersCrumb" class="govuk-breadcrumbs__list-item">
                        <a id="providers-breadcrumb"
                           class="govuk-breadcrumbs__link"
                           asp-route="@RouteNames.CourseProviders"
                           asp-route-larsCode="@Model.LarsCode"
                           asp-route-location="@Model.Location"
                           asp-route-distance="@Model.Distance">
                            Training provider results
                        </a>
                    </li>
                </ol>
            </div>
        </div>

        <div asp-show="@Model.ShowShortListLink" class="govuk-grid-column-one-quarter">
            @await Component.InvokeAsync("ShortlistsLink")
        </div>
    }
</div>
