@using SFA.DAS.FAT.Domain.Courses
@model SFA.DAS.FAT.Web.Models.CourseProviders.ProviderReviewsViewModel

<h2 class="govuk-heading-l govuk-!-margin-bottom-5">

    Training provider information

</h2>

<h3 class="govuk-heading-m govuk-!-margin-bottom-5">

    Employer and apprentice reviews for this training provider

</h3>

<div class="das-reviews">

    @* Employers Container *@

    <div class="govuk-grid-column-one-half das-reviews-container">

        <h3 class="govuk-heading-m govuk-!-margin-bottom-4">
            Employers
        </h3>

        <div asp-show="@(Model.Reviews.EmployerRating != ProviderRating.NotYetReviewed)">
            <p class="govuk-!-margin-0 govuk-!-margin-bottom-4 govuk-!-font-size-24">
                <span class="das-rating-large das-rating--@(Model.Reviews.ConvertedEmployerStars > 2 ? "good" : "poor")" role="img" aria-label="Rating: @Model.Reviews.ConvertedEmployerStars out of 4 stars">
                    <span aria-hidden="true" class="das-rating__icon-star"></span>
                    <span aria-hidden="true" class="das-rating__icon-star@(Model.Reviews.ConvertedEmployerStars < 2 ? "--empty" : "")"></span>
                    <span aria-hidden="true" class="das-rating__icon-star@(Model.Reviews.ConvertedEmployerStars < 3 ? "--empty" : "")"></span>
                    <span aria-hidden="true" class="das-rating__icon-star@(Model.Reviews.ConvertedEmployerStars < 4 ? "--empty" : "")"></span>
                </span>
                <span class="govuk-!-margin-left-1 govuk-!-font-weight-bold das-rating__label--@(Model.Reviews.ConvertedEmployerStars > 2 ? "good" : "poor")">@Model.Reviews.EmployerRating.ToString()</span>
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-2">
                @Model.EmployerReviewsDisplayMessage
            </p>
        </div>

        <div asp-show="@(Model.Reviews.EmployerRating == ProviderRating.NotYetReviewed)">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
                No reviews
            </h2>
            <p class="govuk-body-s">
                Not enough employers have reviewed this provider.
            </p>
        </div>

    </div>

    @* Employers Container *@

    @* Apprentices Container *@

    <div class="govuk-grid-column-one-half das-reviews-container">

        <h3 class="govuk-heading-m govuk-!-margin-bottom-4">
            Apprentices
        </h3>

        <div asp-show="@(Model.Reviews.ApprenticeRating != ProviderRating.NotYetReviewed)">
            <p class="govuk-!-margin-0 govuk-!-margin-bottom-4 govuk-!-font-size-24">
                <span class="das-rating das-rating--@(Model.Reviews.ConvertedApprenticeStars > 2 ? "good" : "poor")" role="img" aria-label="Rating: @Model.Reviews.ConvertedApprenticeStars out of 4 stars">
                    <span aria-hidden="true" class="das-rating__icon-star"></span>
                    <span aria-hidden="true" class="das-rating__icon-star@(Model.Reviews.ConvertedApprenticeStars < 2 ? "--empty" : "")"></span>
                    <span aria-hidden="true" class="das-rating__icon-star@(Model.Reviews.ConvertedApprenticeStars < 3 ? "--empty" : "")"></span>
                    <span aria-hidden="true" class="das-rating__icon-star@(Model.Reviews.ConvertedApprenticeStars < 4 ? "--empty" : "")"></span>
                </span>
                <span class="govuk-!-margin-left-1 govuk-!-font-weight-bold das-rating__label--@(Model.Reviews.ConvertedApprenticeStars > 2 ? "good" : "poor")">@Model.Reviews.ApprenticeRating.ToString()</span>
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-2">
                @Model.ApprenticeReviewsDisplayMessage
            </p>
        </div>

        <div asp-show="@(Model.Reviews.ApprenticeRating == ProviderRating.NotYetReviewed)">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
                No reviews
            </h2>

            <p class="govuk-body-s">
                Not enough apprentices have reviewed this provider.
            </p>
        </div>
    </div>

    @* Apprentices Container *@

</div>

<div class="govuk-inset-text govuk-!-margin-top-3">
    Combined reviews for all courses delivered by this provider in the last full academic year (@Model.Reviews.AcademicPeriod).
    Data collected by Department for Education.
</div>
