@using SFA.DAS.FAT.Web.Infrastructure
@model SFA.DAS.FAT.Web.Models.CourseProviderViewModel

@* Shortlist *@
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="app-course-provider">
            <div class="das-highlight govuk-!-margin-bottom-5">
                <div class="app-provider-shortlist-control app-provider-shortlist-control--inline @Model.ShortlistClass">
                    <div class="app-provider-shortlist-add">
                        <form method="post" asp-route="@RouteNames.CreateShortlistItem">
                            <input type="hidden" name="larsCode" value="@Model.LarsCode" />
                            <input type="hidden" name="ukprn" value="@Model.Ukprn" />
                            <input type="hidden" name="providerName" value="@Model.ProviderName" />
                            <input type="hidden" name="routeName" value="@RouteNames.CourseProviderDetails" />
                            <input type="hidden" name="locationName" value="@Model.Location" />
                            <button id="add-to-shortlist-@(Model.Ukprn)" class="govuk-button govuk-!-margin-bottom-0" type="submit">Add to shortlist</button>
                        </form>
                    </div>
                    <div class="app-provider-shortlist-manage">
                        <span class="govuk-body das-text--warning govuk-!-font-weight-regular">Shortlist full.</span>
                        <a asp-route="@RouteNames.ShortLists" class="govuk-body govuk-link govuk-link--no-visited-state">
                            Manage shortlist
                        </a>
                    </div>
                    <div class="app-provider-shortlist-remove govuk-body govuk-!-margin-bottom-0">
                        <strong class="govuk-tag app-provider-shortlist-tag govuk-!-margin-bottom-2 @(Model.ShortlistId == null ? "app-provider-not-shortlisted" : "app-provider-shortlisted")">Shortlisted</strong>
                        <form method="post" asp-route="@RouteNames.DeleteShortlistItem" asp-route-id="@(Model.ShortlistId ?? Guid.Empty)">
                            <input type="hidden" name="ukprn" value="@Model.Ukprn" />
                            <input type="hidden" name="providerName" value="@Model.ProviderName" />
                            <input type="hidden" name="larsCode" value="@Model.LarsCode" />
                            <input type="hidden" name="routeName" value="@RouteNames.CourseProviderDetails" />
                            <button id="remove-from-shortlist-@(Model.Ukprn)" class="das-button--inline-link das-no-wrap" type="submit">Remove from shortlist</button>
                        </form>
                    </div>
                </div>

                @if (Model.TotalProvidersCount > 1)
                {
                    <p class="govuk-body govuk-!-margin-top-4">@Model.ProviderName is 1 of @Model.TotalProvidersCount training providers for @Model.CourseNameAndLevel.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.CourseProviders" asp-route-larsCode="@Model.LarsCode">View training providers for this course</a></p>
                }

                @if (Model.TotalProvidersCount == 1)
                {
                    <p class="govuk-body govuk-!-margin-top-4">@Model.ProviderName is the only training provider for @Model.CourseNameAndLevel.</p>
                }

            </div>
        </div>
    </div>
    <partial name="_surveyLink" />
</div>
