@model SFA.DAS.FAT.Web.Models.CourseProviders.TrainingOptionsViewModel
<div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Training options @Model.DistanceDetails</h3>
</div>
<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-1">

    @if (Model.IsEmployerLocationAvailable)
    {
        <div class="govuk-body">
            <span asp-show="!@Model.ShowDistanceDetails">At apprentice's workplace</span>
            <span asp-show="@Model.ShowDistanceDetails">At apprentice's workplace: </span>
            <span asp-show="@Model.ShowDistanceDetails" class="govuk-!-font-weight-bold">0.0 miles</span>
            <div class="govuk-body-s das-hint-colour">Training at the employer’s location.</div>
        </div>
    }
    @if (Model.IsBlockReleaseAvailable)
    {
        <div class="govuk-body">
            @if (Model.ShowDistanceDetails)
            {
                @if (Model.IsBlockReleaseMultiple)
                {
                    <div>Block release at multiple locations: </div>
                    <span class="govuk-!-font-weight-bold">closest @Model.NearestBlockRelease miles</span>
                }
                else
                {
                    <span>Block release: </span>
                    <span class="govuk-!-font-weight-bold">@Model.NearestBlockRelease miles</span>
                }
            }
            else
            {
                @if (Model.IsBlockReleaseMultiple)
                {
                    <div>Block release at multiple locations</div>
                }
                else
                {
                    <span>Block release</span>
                }
            }
            <div class="govuk-body-s das-hint-colour">Blocks of a week or more at the provider’s location.</div>
        </div>
    }
    @if (Model.IsDayReleaseAvailable)
    {
        <div class="govuk-body">
            
            @if (Model.ShowDistanceDetails)
            {
                @if (Model.IsDayReleaseMultiple)
                {
                    <div>Day release at multiple locations: </div>
                    <span class="govuk-!-font-weight-bold">closest @Model.NearestDayRelease miles</span>
                }
                else
                {
                    <span>Day release: </span>
                    <span class="govuk-!-font-weight-bold">@Model.NearestDayRelease miles</span>
                }
            }
            else
            {
                @if (Model.IsDayReleaseMultiple)
                {
                    <div>Day release at multiple locations </div>
                }
                else
                {
                    <span>Day release </span>
                }
            }
            <div class="govuk-body-s das-hint-colour">One day a week at the provider’s location. </div>
        </div>
    }
</div>
