@model SFA.DAS.FAT.Web.Models.CourseProviders.TrainingOptionsViewModel
<dt class="govuk-summary-list__key">Training options @Model.DistanceDetails</dt>
<dd class="govuk-summary-list__value">

    @if (Model.IsEmployerLocationAvailable)
    {
        <p class="govuk-body">
            <span asp-show="!@Model.ShowDistanceDetails">At apprentice's workplace</span>
            <span asp-show="@Model.ShowDistanceDetails">At apprentice's workplace: </span>
            <span asp-show="@Model.ShowDistanceDetails" class="govuk-!-font-weight-bold">0.0 miles</span>
            <br />
            <span class="govuk-body-s das-hint-colour">Training at the employer's location.</span>
        </p>
    }
    @if (Model.IsBlockReleaseAvailable)
    {
        <p class="govuk-body">
            @if (Model.ShowDistanceDetails)
            {
                @if (Model.IsBlockReleaseMultiple)
                {
                    <span>Block release at multiple locations: </span>
                    <br />
                    <span class="govuk-!-font-weight-bold">closest @Model.NearestBlockRelease miles</span>
                }
                else
                {
                    <span>Block release: </span>
                    <span class="govuk-!-font-weight-bold">@Model.NearestBlockRelease miles</span>
                }
            }
            else
            {
                @if (Model.IsBlockReleaseMultiple)
                {
                    <span>Block release at multiple locations</span>
                }
                else
                {
                    <span>Block release</span>
                }
            }
            <br />
            <span class="govuk-body-s das-hint-colour">Blocks of a week or more at the provider's location.</span>
        </p>
    }
    @if (Model.IsDayReleaseAvailable)
    {
        <p class="govuk-body">
            
            @if (Model.ShowDistanceDetails)
            {
                @if (Model.IsDayReleaseMultiple)
                {
                    <span>Day release at multiple locations: </span>
                    <br />
                    <span class="govuk-!-font-weight-bold">closest @Model.NearestDayRelease miles</span>
                }
                else
                {
                    <span>Day release: </span>
                    <span class="govuk-!-font-weight-bold">@Model.NearestDayRelease miles</span>
                }
            }
            else
            {
                @if (Model.IsDayReleaseMultiple)
                {
                    <span>Day release at multiple locations </span>
                }
                else
                {
                    <span>Day release </span>
                }
            }
            <br />
            <span class="govuk-body-s das-hint-colour">One day a week at the provider's location. </span>
        </p>
    }
</dd>
