@using SFA.DAS.FAT.Web.Extensions
@using SFA.DAS.FAT.Web.Infrastructure
@model SFA.DAS.FAT.Web.Models.CourseProviderViewModel

@{
    ViewData["Title"] = $"{Model.ProviderName} - training provider";
    ViewData["Description"] = $"View {Model.ProviderName}'s available training options, pass rate and contact details for {Model.CourseNameAndLevel}. You can also check their employer reviews and any other apprenticeship training courses that they offer.";
}
<div asp-show="@(!Model.IsActiveAvailable)">
    <partial name="_standardNotAcceptingNewApprenticesBanner" />
</div>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_validationSummary" />
            <span class="govuk-caption-xl govuk-!-margin-bottom-2">Training provider</span>

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                @Model.ProviderName
            </h1>

            <span class="govuk-caption-l govuk-!-margin-bottom-6">UKPRN @Model.Ukprn</span>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-5">
                @Model.CourseNameAndLevel
            </h2>

            @* Search courses by location *@

            @await Html.PartialAsync("_courseProviderByLocationSearch", Model.CourseProviderByLocationSearch)

            @* Search courses by location *@

            @* Training Options *@

            @await Html.PartialAsync("_trainingOptionsTable", Model.TrainingOptions)

            @* Training Options *@

            @if (Model.IsApprenticeship)
            {
                @await Html.PartialAsync("_achievementsAndParticipation", Model.AchievementsAndParticipation)
                @await Html.PartialAsync("_providerReviews", Model.ProviderReviews)
            }
        </div>
    </div>
    @if (Model.IsApprenticeship)
    {
        @*  View results of our survey with employers and apprentices for this provider *@
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-!-margin-bottom-8">
                    @await Html.PartialAsync("_feedbackSurvey", Model.FeedbackSurvey)
                </div>
            </div>
        </div>
    }
    @await Html.PartialAsync("_contactDetails", Model.ContactDetails)

    @* Training provider overview*@
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Training provider overview</h3>
            <p class="govuk-body">
                @Html.MarkdownToHtml(@Model.Contact.MarketingInfo)
            </p>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Overall participation rates and reviews</h3>
            <p class="govuk-body">
                Find overall participation rates and reviews from employers and apprentices by visiting their
                <a class="govuk-link govuk-link--no-visited-state"
                       asp-route="@RouteNames.Provider"
                       asp-route-ukprn="@Model.Ukprn">
                    training provider details page
                </a>.
            </p>
        </div>
    </div>
    @* Training provider overview *@
    
    @* Courses offered by this training provider *@
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Courses offered by this training provider</h3>
            @await Html.PartialAsync("_coursesGroup", Model.ProviderCoursesDetails.CourseGroups)
        </div>
    </div>
    @* Courses offered by this training provider *@

    @await Html.PartialAsync("_shortlistPanel", Model.ShortlistPanel)

    <div class="govuk-grid-row">
        <partial name="_surveyLink" />
    </div>

</main>