@using Microsoft.Extensions.Options
@using SFA.DAS.FAT.Domain.Configuration
@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Web.Models
@using System.Globalization
@model SFA.DAS.FAT.Web.Models.CourseViewModelv2
@inject IOptions<FindApprenticeshipTrainingWeb> ConfigOptions;

@{
    ViewData["Title"] = $"{Model.TitleAndLevel} - apprenticeship training course";
   
    ViewData["Description"] = $"Employers can view details of the {Model.TitleAndLevel} apprenticeship training course, including its qualification level, typical duration and the maximum funding available.";

    ViewData["ShortlistItemCount"] = Model.ShortListItemCount;
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Apprenticeship training course</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">@Model.TitleAndLevel</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="das-highlight govuk-!-margin-bottom-6">

                @if (Model.TotalProvidersCount == 0)
                {
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">No training providers available for this course yet</h3>

                    <p class="govuk-body govuk-!-margin-bottom-6">
                        We can ask training providers if they can run @Model.TitleAndLevel. If a training provider can offer the course, we'll send you their contact details.
                    </p>

                    <p class="govuk-body govuk-!-margin-bottom-6">
                        You can use this service if you employ apprentices. You'll need to be signed in to your apprenticeship service account.
                    </p>

                    <p class="govuk-body"><a href="@Model.GetHelpFindingCourseUrl(ConfigOptions.Value)" class="govuk-link govuk-link--no-visited-state" id="share-interest">Ask if training providers can run this course</a></p>

                    <p class="govuk-body">Or you can try <a asp-route="@RouteNames.Courses" class="govuk-link govuk-link--no-visited-state">searching for another course</a>.</p>
                }
                else
                {
                    @if (Model.HasLocation)
                    {
                        <div class="govuk-!-width-three-quarters">
                            <p class="govuk-body">
                                @Model.GetProviderCountDisplayMessage()
                            </p>

                            <form method="GET" asp-route="@RouteNames.CourseProviders" asp-route-id="@Model.LarsCode">
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                                    Apprentice's work location:
                                    <span class="govuk-!-font-weight-regular">@Model.Location</span>
                                </h3>

                                <h3 class="govuk-heading-s govuk-!-margin-bottom-6">
                                    Apprentice can travel:
                                    <span class="govuk-!-font-weight-regular">@Model.GetApprenticeCanTravelDisplayMessage()</span>
                                </h3>

                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full course-details-call-to-action">
                                        <a class="govuk-button govuk-!-margin-bottom-0"
                                           asp-route="@RouteNames.CourseProviders"
                                           asp-route-id="@Model.LarsCode"
                                           asp-route-location="@Model.Location"
                                           asp-route-distance="@Model.Distance"
                                        >
                                            View providers for this course
                                        </a>

                                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.CourseDetails" asp-route-distance="@Model.Distance">Remove location</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-!-width-three-quarters">
                            <p class="govuk-body">
                                @Model.GetProviderCountDisplayMessage()
                            </p>

                            <form method="GET"
                                id="course-location-form"
                                asp-route="@RouteNames.CourseDetails"
                                asp-route-id="@Model.LarsCode"
                                asp-route-location="@Model.Location"
                                asp-route-distance="@Model.Distance"
                                class="govuk-!-width-three-quarters"
                            >
                                <input type="hidden" name="distance" value="@Model.Distance" />

                                <div class="govuk-form-group">
                                    <h3 class="govuk-heading-m">Apprentice's work location</h3>
                                    <label for="search-location" class="govuk-label">Enter a city or postcode</label>
                                    <input type="search" id="search-location" name="location" title="Search" class="govuk-input" data-submit-on-selection="true">
                                </div>
                                <a 
                                    class="govuk-button govuk-!-margin-bottom-0" 
                                    asp-route="@RouteNames.CourseProviders" 
                                    asp-route-id="@Model.LarsCode"
                                >
                                    View providers for this course
                                </a>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Information about @Model.TitleAndLevel</h2>
            <p class="govuk-body-l">@Model.OverviewOfRole</p>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Knowledge, skills and behaviours
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    View knowledge, skills and behaviours
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                @if(Model.Knowledge.Any())
                                {
                                    <h3 class="govuk-heading-m">Knowledge</h3>
                                    <ul class="govuk-list govuk-list--bullet">
                                        @foreach (string knowledge in Model.Knowledge)
                                        {
                                            <li>@knowledge</li>
                                        }
                                    </ul>
                                }

                                @if(Model.Skills.Any())
                                {
                                    <h3 class="govuk-heading-m">Skills</h3>
                                    <ul class="govuk-list govuk-list--bullet">
                                        @foreach (string skill in Model.Skills)
                                        {
                                            <li>@skill</li>
                                        }
                                    </ul>
                                }

                                @if (Model.Behaviours.Any())
                                {
                                    <h3 class="govuk-heading-m">Behaviours</h3>
                                    <ul class="govuk-list govuk-list--bullet">
                                        @foreach (string behaviour in Model.Behaviours)
                                        {
                                            <li>@behaviour</li>
                                        }
                                    </ul>
                                }
                            </div>
                        </details>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship category (sector)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Route
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Qualification level
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Level<br/>
                        <span class="govuk-!-font-size-16 das-text--muted">
                            @Model.GetLevelEquivalentToDisplayText()
                        </span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Course duration
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.TypicalDuration months
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Maximum funding
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.MaxFunding.ToString("C0", new CultureInfo("en-GB")) <br />
                        <span class="govuk-!-font-size-16 das-text--muted">
                            Maximum government funding for <br />
                            apprenticeship training and assessment costs.
                        </span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Job titles include
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                            @foreach (string title in @Model.GetTypicalJobTitles())
                            {
                                <li>@title</li>
                            }
                        </ul>
                    </dd>
                </div>
            </dl>

            <p class="govuk-body-s">
                View more information about <a id="course-more-information-@Model.LarsCode" class="govuk-link govuk-link--no-visited-state" href="@Model.StandardPageUrl">@Model.TitleAndLevel from the Institute for Apprenticeships and Technical Education</a>.
            </p>
        </div>
    </div>
</main>
