@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Web.Models
@using System.Globalization
@model SFA.DAS.FAT.Web.Models.CoursesViewModel
@{
    ViewData["Title"] = "Apprenticeship training courses";
    ViewData["Description"] = "View all available apprenticeship training courses in England. Search using keywords, different qualification levels and categories.";
    ViewData["ShortlistItemCount"] = Model.ShortListItemCount;
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Apprenticeship training courses</h1>
            @if(!string.IsNullOrWhiteSpace(Model.CoursesSubHeader))
            {
                <p class="govuk-body">@Model.CoursesSubHeader</p>
            }
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">

        <div class="govuk-grid-column-one-third">

            @await Html.PartialAsync("_filters", Model.Filters)
            
        </div>

        <div class="govuk-grid-column-two-thirds">

            @if (Model.Standards.Count > 0)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-column-one-half govuk-!-padding-0">
                            <p class="govuk-body govuk-!-font-weight-bold">@Model.TotalMessage</p>
                        </div>
                        @if(!string.IsNullOrWhiteSpace(Model.SortedDisplayMessage))
                        {
                            <div class="govuk-grid-column-one-half govuk-!-padding-0">
                                <p class="govuk-body govuk-!-text-align-right">
                                    Sorted by:
                                    <span class="govuk-!-font-weight-bold">@Model.SortedDisplayMessage</span>
                                </p>
                            </div>
                        }
                    </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--visible">

                <div class="das-search-results">
                    <ol class="das-search-results__list">
                        @foreach (var standard in Model.Standards)
                        {
                            <li class="das-search-results__list-item govuk-!-margin-top-1 govuk-!-padding-bottom-4">
                                <h2 class="govuk-heading-m das-search-results__heading">
                                    <a class="das-search-results__link"
                                       id="standard-@standard.LarsCode"
                                       asp-route-id="@standard.LarsCode"
                                       asp-route-location="@Model.Location"
                                       asp-route-distance="@Model.Distance"
                                       asp-route="@RouteNames.CourseDetails"
                                    >
                                        @standard.Title <span class="das-no-wrap">(level @standard.Level)</span>
                                    </a>
                                </h2>
                                <p class="govuk-body das-search-results__body govuk-!-margin-bottom-3">@standard.OverviewOfRole</p>

                                <div class="das-search-results__meta govuk-!-margin-bottom-4">
                                    <dl class="das-definition-list das-definition-list--meta govuk-!-margin-bottom-1">
                                        <dt class="das-definition-list__title">Level</dt>
                                        <dd class="das-definition-list__definition">@Model.GetLevelName(standard.Level)</dd>
                                    </dl>

                                    <dl class="das-definition-list das-definition-list--meta govuk-!-margin-bottom-1">
                                        <dt class="das-definition-list__title">Job Category</dt>
                                        <dd class="das-definition-list__definition">@standard.Route</dd>
                                    </dl>

                                    <dl class="das-definition-list das-definition-list--meta govuk-!-margin-bottom-1">
                                        <dt class="das-definition-list__title">Duration</dt>
                                        <dd class="das-definition-list__definition">@standard.TypicalDuration months</dd>
                                    </dl>

                                    <dl class="das-definition-list das-definition-list--meta govuk-!-margin-bottom-1">
                                        <dt class="das-definition-list__title">Maximum funding from government</dt>
                                        <dd class="das-definition-list__definition">@standard.MaxFunding.ToString("C0", new CultureInfo("en-GB"))</dd>
                                    </dl>
                                </div>

                                <div class="govuk-body das-inline-container">
                                    @if (standard.ProvidersCount == 0)
                                    {
                                        <p class="das-inline-text">No providers run this course yet.</p>
                                    }

                                    <a class="das-search-results__link"
                                       id="standard-@standard.LarsCode"
                                       href="@Model.GetProvidersLink(standard)"
                                    >
                                        @Model.GetProvidersLinkDisplayMessage(standard)
                                    </a>
                                </div>
                            </li>
                        }
                    </ol>
                </div>
            }
            else
            {
                <p class="govuk-body govuk-!-font-weight-bold">No results</p>
                
                <p class="govuk-body">There are no courses that match your search.</p>

                <p class="govuk-body">You may need to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>clear filters you’ve selected</li>
                    <li>increase the distance that the apprentice can travel</li>
                    <li>check your spelling or enter another search term and try again</li>
                </ul>

                <p class="govuk-body">
                    Change your search using the filters on this page or 
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.SearchCourses">start a new search</a>.
                </p>
            }
        </div>
    </div>
</main>