@using SFA.DAS.FAT.Web.Infrastructure
@model SFA.DAS.FAT.Web.Models.CoursesViewModel
@{
    ViewData["Title"] = "Apprenticeship training courses";
    ViewData["Description"] = "View all available apprenticeship training courses in England. Search using keywords, different qualification levels and categories.";
    ViewData["ShortlistItemCount"] = Model.ShortListItemCount;
}

<main class="govuk-main-wrapper" id="main-content">

    @if (DateTime.UtcNow < new DateTime(2024, 02, 12))
    {
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important notice
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    National Apprenticeship Week
                </p>
                <p>National Apprenticeship Week 2024 will run from Monday 5 to Sunday 11 February - find out how to get involved and download the toolkit at <a href="https://naw.appawards.co.uk/" class="govuk-link" target="_blank" rel="external" >National Apprenticeship Week</a>.</p>
            </div>
        </div>
    }
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Apprenticeship training courses</h1>
        </div>
    </div>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">

            @await Html.PartialAsync("_filters", Model.Filters)
            
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">@Model.TotalMessage</h2>
            @if (Model.Courses.Count > 0)
            {

                if (Model.Courses.Count > 1)
                {
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        Sorted by:
                        <span class="govuk-!-font-weight-bold">Name</span>
                    </p>
                }
                
                <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">

                <div class="das-search-results">
                    <ol class="das-search-results__list">
                        @foreach (var course in Model.Courses)
                        {
                            <li class="das-search-results__list-item">
                                <h2 class="govuk-heading-m das-search-results__heading">
                                    <a class="das-search-results__link" id="standard-@course.Id" asp-route-id="@course.Id" asp-route-location="@Model.Location" asp-route="@RouteNames.CourseDetails">
                                        @course.Title <span class="das-no-wrap">(level @course.Level)</span>
                                    </a>
                                </h2>
                                <p class="govuk-body das-search-results__body">@course.OverviewOfRole</p>
                                <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                                    <dt class="das-definition-list__title">Apprenticeship category</dt>
                                    <dd class="das-definition-list__definition">@course.Sector</dd>
                                </dl>
                            </li>
                        }
                    </ol>
                </div>
            }
            else
            {
                <p class="govuk-body govuk-!-margin-top-4">
                    No apprenticeship training courses for the selected filters.
                </p>
                <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Courses">Clear filters</a></p>
            }
        </div>
    </div>
</main>