@using SFA.DAS.FAT.Domain.Filters
@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Domain.Courses
@using SFA.DAS.FAT.Web.Models
@model SFA.DAS.FAT.Web.Models.CoursesViewModel
@{
    ViewData["Title"] = "Apprenticeship training courses";
    ViewData["Description"] = "View all available apprenticeship training courses in England. Search using keywords, different qualification levels and categories.";
    ViewData["ShortlistItemCount"] = Model.ShortListItemCount;
}

<main class="govuk-main-wrapper" id="main-content">

    @if (DateTime.UtcNow < new DateTime(2024, 02, 12))
    {
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important notice
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    National Apprenticeship Week
                </p>
                <p>National Apprenticeship Week 2024 will run from Monday 5 to Sunday 11 February - find out how to get involved and download the toolkit at <a href="https://naw.appawards.co.uk/" class="govuk-link" target="_blank" rel="external" >National Apprenticeship Week</a>.</p>
            </div>
        </div>
    }
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Apprenticeship training courses</h1>
        </div>
    </div>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">

            <div class="das-show-hide" data-module="das-show-hide">

                <div class="das-filter das-!-show--from-tablet" id="fat-filter" tabindex="0">

                    <div class="das-filter__header">
                        <h2 class="das-filter__heading">Filter</h2>
                    </div>

                    @if (Model.ShowFilterOptions)
                    {
                        <div class="das-filter__selected-filters">
                            <div class="das-filter__selected-header">
                                <h3 class="das-filter__selected-heading">Selected filters</h3>
                                <a class="das-filter__selected-action govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Courses">
                                    Clear <span class="govuk-visually-hidden">the selected filters</span>
                                </a>
                            </div>

                            @foreach(ClearFilterSection section in Model.SelectedFilterSections)
                            {
                                @await Html.PartialAsync("_clearFilterSection", section)
                            }
                        </div>
                    }

                    <div class="das-filter__body das-!-show--from-tablet" id="fat-filter-options">

                        @* Filter components *@

                        <form asp-route="@RouteNames.Courses" method="GET">

                            @if (Model.OrderBy != OrderBy.None)
                            {
                                <input type="hidden" asp-for="OrderBy" name="orderby" />
                            }

                            @* Course input filter *@

                            <div class="govuk-form-group">
                                <label for="Keyword" class="govuk-label das-filter__search-label">
                                    Course
                                    <p class="govuk-hint">Enter course, job or standard</p>
                                </label>
                                <input asp-for="Keyword" name="keyword" type="search" title="Search" class="govuk-input">
                            </div>

                            @* Course input filter *@

                            @* Location input filter *@

                            <div class="govuk-form-group">
                                <label for="Location" class="govuk-label das-filter__search-label">
                                    Apprentice's work location
                                    <p class="govuk-hint">Enter city or postcode</p>
                                </label>
                                <input id="search-location" class="govuk-input" asp-for="Location" name="location" type="search" title="Search work locations" data-default-value="@Model.Location" data-submit-on-selection="false">
                            </div>

                            @* Location input filter *@

                            @* Distance select filter *@

                            <div class="govuk-form-group">
                                <label class="govuk-label das-filter__search-label" for="sort">
                                    Apprentice can travel
                                    <p class="govuk-hint">Distance apprentice can travel to training</p>
                                </label>

                                <select class="govuk-select" id="distance" name="distance" asp-for="Distance">
                                    @foreach (int distance in ValidDistances.Distances)
                                    {
                                        <option value="@distance" selected="@(Model.Distance == @distance ? "selected" : null)">@distance Miles</option>
                                    }
                                    <option value="" selected="@(Model.Distance == null ? "selected" : null)">Across England</option>
                                </select>
                            </div>

                            @* Distance select filter *@

                            <div class="govuk-accordion govuk-accordion-hide-controls" data-module="govuk-accordion">

                                @* Levels Checkbox filters *@

                                <div class="govuk-accordion__section">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <button type="button" class="govuk-accordion__section-button" id="accordion-apprenticeship-level">
                                                Apprenticeship level
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="accordion-apprenticeship-level-content" class="govuk-accordion__section-content">
                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                                    @foreach (var level in Model.Levels)
                                                    {
                                                        <div class="govuk-checkboxes__item">
                                                            <input @(level.Selected ? "checked='checked'" : "")
                                                                   class="govuk-checkboxes__input"
                                                                   id="level-@level.Code"
                                                                   name="levels"
                                                                   type="checkbox"
                                                                   value="@level.Code" />

                                                            <label class="govuk-label govuk-checkboxes__label" for="level-@level.Code">
                                                                @level.Title
                                                            </label>
                                                        </div>
                                                    }
                                                </div>
                                            </fieldset>

                                            <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3">
                                                <a class="govuk-link govuk-link--no-visited-state"
                                                   href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"
                                                   target="_blank"
                                                   rel="external">
                                                    What qualification levels mean (opens in new tab or window)
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                @* Levels Checkbox filters *@

                                @* Job Categories Checkbox filters *@

                                <div class="govuk-accordion__section">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <button type="button" class="govuk-accordion__section-button" id="accordion-apprenticeship-level">
                                                Job Categories
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="accordion-apprenticeship-level-content" class="govuk-accordion__section-content">
                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                                    @foreach (var category in Model.Routes)
                                                    {
                                                        <div class="govuk-checkboxes__item">
                                                            <input @(category.Selected ? "checked='checked'" : "")
                                                                   class="govuk-checkboxes__input"
                                                                   id="category-@category.Id"
                                                                   name="categories"
                                                                   type="checkbox"
                                                                   value="@category.Name" />

                                                            <label class="govuk-label govuk-checkboxes__label" for="category-@category.Id">
                                                                @category.Name
                                                            </label>
                                                        </div>
                                                    }
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                @* Job Categories Checkbox filters *@

                            </div>

                            <button type="submit" class="govuk-button" id="filters-submit-second">Apply filters</button>

                        </form>

                        @* Filter components *@
                    </div>
                </div>

                <button class="govuk-button das-filter__toggle das-show-hide__button" data-aria-controls="fat-filter@(Model.ShowFilterOptions ? "-options" : "")" data-button-string="filter @(Model.ShowFilterOptions ? " options" : "")" data-focus-id="fat-filter">Show/hide</button>
            </div>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">@Model.TotalMessage</h2>
            @if (Model.Courses.Count > 0)
            {

                if (Model.Courses.Count > 1)
                {
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        Sorted by:
                        <span class="govuk-!-font-weight-bold">Name</span>
                    </p>
                }
                
                <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">

                <div class="das-search-results">
                    <ol class="das-search-results__list">
                        @foreach (var course in Model.Courses)
                        {
                            <li class="das-search-results__list-item">
                                <h2 class="govuk-heading-m das-search-results__heading">
                                    <a class="das-search-results__link" id="standard-@course.Id" asp-route-id="@course.Id" asp-route-location="@Model.Location" asp-route="@RouteNames.CourseDetails">
                                        @course.Title <span class="das-no-wrap">(level @course.Level)</span>
                                    </a>
                                </h2>
                                <p class="govuk-body das-search-results__body">@course.OverviewOfRole</p>
                                <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                                    <dt class="das-definition-list__title">Apprenticeship category</dt>
                                    <dd class="das-definition-list__definition">@course.Sector</dd>
                                </dl>
                            </li>
                        }
                    </ol>
                </div>
            }
            else
            {
                <p class="govuk-body govuk-!-margin-top-4">
                    No apprenticeship training courses for the selected filters.
                </p>
                <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Courses">Clear filters</a></p>
            }
        </div>
    </div>
</main>