@using SFA.DAS.FAT.Web.Infrastructure
@model SFA.DAS.FAT.Web.Models.ShortlistLocationViewModel


<table class="govuk-table app-shortlist-table">
    <thead class="govuk-table__head app-shortlist-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Training provider</th>
            <th scope="col" class="govuk-table__header das-no-wrap">Training options</th>
            <th scope="col" class="govuk-table__header">
                <span>Provider reviews</span>
                <span class="das-no-wrap">@Model.ReviewPeriod</span></th>
            <th scope="col" class="govuk-table__header">
                <span class="das-no-wrap">Achievement rate</span>
                <span class="das-no-wrap"> @Model.QarPeriod</span>
            </th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var shortlistItem in Model.Providers)
        {
            var routeData = new Dictionary<string, string>
            {
                {"location", shortlistItem.LocationDescription ?? ""},
                {"id",shortlistItem.LarsCode.ToString()},
                {"providerId",shortlistItem.Ukprn.ToString()}
            };

            <tr class="govuk-table__row app-shortlist-table__row">
                <th scope="row" class="govuk-table__header app-shortlist-table__header-cell">
                    <div class="das-highlight app-shortlist-table__highlight">
                        <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a id="@shortlistItem.ShortlistId" asp-route="@RouteNames.CourseProviderDetails" asp-all-route-data="@routeData" class="govuk-link govuk-link--no-visited-state">@shortlistItem.ProviderName</a>
                        </p>
                        <ul class="govuk-list govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-size-16">
                            <li class="govuk-!-margin-bottom-2">
                                <a class="govuk-link govuk-link--no-visited-state das-breakable" href="mailto:@shortlistItem.Email" target="_blank">@shortlistItem.Email</a>
                            </li>
                            <li>@shortlistItem.Phone</li>
                            <li class="govuk-!-margin-bottom-0">
                                <a class="govuk-link govuk-link--no-visited-state das-breakable" href="@shortlistItem.Website" target="_blank">@shortlistItem.Website</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <td class="govuk-table__cell app-shortlist-table__cell">
                    <ul class="govuk-list @(shortlistItem.HasMultipleDeliveryOptions ? "govuk-list--bullet" : "") das-icon-list das-icon-list--large govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        <li asp-show="@shortlistItem.AtEmployer">
                            At apprentice's workplace
                        </li>
                        <li asp-show="@shortlistItem.HasBlockRelease">
                            @if (!shortlistItem.HasLocation)
                            {
                                <span asp-show="!@shortlistItem.HasMultipleBlockRelease" class="das-no-wrap">Block release</span>
                                <span asp-show="@shortlistItem.HasMultipleBlockRelease" class="das-no-wrap">Block release at multiple locations</span>
                            }
                            else
                            {
                                <div asp-show="!@shortlistItem.HasMultipleBlockRelease" class="das-no-wrap">Block release: <span class="govuk-!-font-weight-bold">@shortlistItem.BlockReleaseDistance miles</span></div>
                                <span asp-show="@shortlistItem.HasMultipleBlockRelease" class="das-no-wrap">Block release at multiple locations:</span>
                                <span asp-show="@shortlistItem.HasMultipleBlockRelease" class="das-no-wrap govuk-!-font-weight-bold">closest @shortlistItem.BlockReleaseDistance miles</span>
                            }
                        </li>
                        <li asp-show="@shortlistItem.HasDayRelease">
                            @if (!shortlistItem.HasLocation)
                            {
                                <span asp-show="!@shortlistItem.HasMultipleDayRelease" class="das-no-wrap">Day release</span>
                                <span asp-show="@shortlistItem.HasMultipleDayRelease" class="das-no-wrap">Day release at multiple locations</span>
                            }
                            else
                            {
                                <div asp-show="!@shortlistItem.HasMultipleDayRelease" class="das-no-wrap">Day release: <span class="govuk-!-font-weight-bold">@shortlistItem.DayReleaseDistance miles</span></div>
                                <span asp-show="@shortlistItem.HasMultipleDayRelease" class="das-no-wrap">Day release at multiple locations:</span>
                                <span asp-show="@shortlistItem.HasMultipleDayRelease" class="das-no-wrap govuk-!-font-weight-bold">closest @shortlistItem.DayReleaseDistance miles</span>
                            }
                        </li>
                    </ul>
                </td>
                <td class="govuk-table__cell app-shortlist-table__cell">
                    @await Html.PartialAsync("_providerRating", shortlistItem.EmployerReviews)
                    @await Html.PartialAsync("_providerRating", shortlistItem.ApprenticeReviews)
                </td>
                <td class="govuk-table__cell app-shortlist-table__cell">
                    <p asp-show="shortlistItem.HasAchievementRate" class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        @($"{shortlistItem.AchievementRate}%") <span class="app-!-hide--tablet">pass rate</span>
                        <span class="das-text--muted">(out of @shortlistItem.Leavers apprentices)</span>
                    </p>
                    <p asp-show="!shortlistItem.HasAchievementRate" class="govuk-body  govuk-!-font-size-16">
                        No achievement rate - not enough data
                    </p>
                </td>
                <td class="govuk-table__cell app-shortlist-table__cell app-shortlist-table__cell">
                    <form method="post" asp-route="@RouteNames.DeleteShortlistItem" asp-route-id="@shortlistItem.ShortlistId">
                        <input type="hidden" name="routeName" value="@RouteNames.ShortLists" />
                        <input type="hidden" name="providerName" value="@shortlistItem.ProviderName" />
                        <button id="remove-shortlistitem-@shortlistItem.ShortlistId" class="das-button--inline-link govuk-link govuk-link--no-visited-state govuk-!-font-size-16" type="submit">Remove <span class="govuk-visually-hidden">@shortlistItem.ProviderName</span> <span class="app-!-hide--tablet"> from shortlist</span></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
