@using SFA.DAS.FAT.Web.Infrastructure
@using System.Web
@model SFA.DAS.FAT.Web.Models.ShortlistsViewModel

@{
    ViewData["Title"] = "Shortlists";
    ViewData["Description"] = "View the apprenticeship training providers that you've shortlisted.";
}

<partial name="_searchLink" />

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @* Banner to show removed item *@
            <div asp-show="Model.ShowRemovedShortlistBanner" class=" govuk-notification-banner govuk-!-margin-bottom-7">
                <div class="govuk-notification-banner__content">
                    <p class="govuk-body">@HttpUtility.HtmlDecode(Model.RemovedProviderName) removed from shortlist.</p>
                </div>
            </div>

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                Shortlisted training providers
            </h1>
            <div asp-show="Model.HasShortlistItems" class="govuk-body govuk-!-width-two-thirds">We'll save your shortlist until  @Model.ExpiryDateText.</div>
            <div asp-show="Model.HasMaxedOutShortlists" class="govuk-inset-text">
                <p class="govuk-!-font-weight-bold">Your shortlist is full.</p>
                <p>You cannot have more than 50 training providers in your shortlist. If you want to shortlist more providers, you'll need to remove some here first.</p>
            </div>
        </div>
    </div>

    @* If there are no shortlist items *@
    <div asp-show="!Model.HasShortlistItems" class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">You have no training providers shortlisted.</p>
            <p class="govuk-body"><a class="govuk-button" asp-route="@RouteNames.Courses">View apprenticeship training courses</a></p>
        </div>
    </div>

    @foreach (var course in Model.Courses)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-4">@course.CourseTitle</h2>

                @foreach (var location in course.Locations)
                {
                    if (!string.IsNullOrEmpty(location.Description))
                    {
                        <h3 class="govuk-heading-m govuk-!-font-weight-regular">@location.Description</h3>
                    }

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                View @(location.Providers.Count == 1 ? "1" : location.Providers.Count.ToString()) training provider@(location.Providers.Count == 1 ? "" : "s")
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                            <partial name="_ShortlistTable" model="@location"/>

                            <p class="govuk-body govuk-!-margin-bottom-6">
                                <a asp-route="@RouteNames.CourseProviders" 
                                    asp-route-larsCode="@course.LarsCode" 
                                    asp-route-location="@location.Description" 
                                    class="govuk-link govuk-link--no-visited-state">View other training providers for this course</a>
                            </p>

                            <partial name="_ShortlistGetHelpFindingCourse" model="@location.RequestApprenticeshipTraining" />
                        </div>
                    </details>
                }
            </div>
        </div>
    }
</main>
