@using SFA.DAS.FAT.Web.Infrastructure
@using SFA.DAS.FAT.Web.Models.Providers
@model SFA.DAS.FAT.Web.Models.Providers.ProviderDetailsViewModel
@{
    var courseGroups = Model.ProviderCoursesDetails?.GetCourseGroups() ?? new List<ProviderCourseGroup>();
}

@foreach (var courseGroup in courseGroups)
{
    <h4 class="govuk-heading-s">@courseGroup.DisplayName</h4>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View @courseGroup.Count @courseGroup.DisplayName.ToLower() delivered by this training provider
            </span>
        </summary>
        <div class="govuk-details__text">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    @foreach (var course in courseGroup.Courses)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state"
                                   asp-route="@RouteNames.CourseProviderDetails"
                                   asp-route-larsCode="@course.LarsCode"
                                   asp-route-providerId="@Model.Ukprn"
                                   asp-route-location="@Model.Location">@course.CourseName <span class="das-no-wrap">(level @course.Level)</span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </details>
}
