@using SFA.DAS.FAT.Web.Extensions
@model SFA.DAS.FAT.Web.Models.Providers.ProviderDetailsViewModel
@{
    ViewData["Title"] = "Provider details";
    var feedbackSurvey = Model.FeedbackSurvey;
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Training provider</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">@Model.ProviderName</h1>
            <span class="govuk-caption-l govuk-!-margin-bottom-3">UKPRN @Model.Ukprn</span>
            <div class="govuk-body govuk-!-margin-bottom-3">View training provider details, including courses delivered, achievement rating, participation, reviews and contact details.</div>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Courses offered by this training provider</h3>
            <div class="govuk-body govuk-!-margin-bottom-4">You can select a course for more information, including how training takes place with locations, course-specific achievement rates and participation.</div>

            <div asp-show="@Model.ShowCourses" class="govuk-!-margin-bottom-8">
                @await Html.PartialAsync("_coursesGroup", Model.ProviderCoursesDetails.GetCourseGroups())
            </div>
        
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-heading-m govuk-!-margin-bottom-5">
                Achievements and participation rates
            </h3>

            <div class="govuk-inset-text govuk-!-margin-bottom-6">
                <p>This is historical data and might include training this provider no longer offers.</p>

                <p>Achievement and participation rate data does not include apprenticeship units.</p>
            </div>

            @await Html.PartialAsync("_achievementsAndParticipationCard", Model.AchievementsAndParticipation)
            <br />
            <div class="govuk-body">
                <p>
                    Data for apprenticeships and foundation apprenticeships collected by the Department for Education.
                </p>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-5">
                Reviews from employers and apprentices
            </h3>

            <div class="govuk-inset-text govuk-!-margin-bottom-6">
                <p>This is the training provider's average review based on all the apprenticeship courses they delivered during the last full academic year (@Model.Reviews.StartYear to @Model.Reviews.EndYear).</p>

                <p>It does not include reviews for apprenticeship units.</p>
            </div>

            @await Html.PartialAsync("_providerReviewsCard", Model.ProviderReviews)
            <br />
            <div class="govuk-body">
                <p>
                    Apprenticeships and foundation apprenticeships data collected by the Department for Education.
                </p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @await Html.PartialAsync("_feedbackSurvey", feedbackSurvey)
        </div>
    </div>
    
    @await Html.PartialAsync("_contactDetails", Model.ContactDetails)

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-5">
                Training provider overview
            </h3>
            <div>@Html.MarkdownToHtml(@Model.ContactDetails?.MarketingInfo)</div>
        </div>
    </div>
</main>